.forgot-password-container {
  -fx-background-color: #fff;
}

.field-forgot-password {
  -fx-pref-width: 100px;
  -fx-pref-height: 28px;
  -fx-font-size: 14px;
}

.btn-send-email {
  -fx-background-color: #1890ff;
  -fx-text-fill: #fff;
  -fx-pref-width: 100px;
  -fx-pref-height: 28px;
}

.btn-resend-email {
  -fx-background-color: transparent;
  -fx-text-fill: #000;
  -fx-pref-width: 100px;
  -fx-pref-height: 28px;
}