.home-container{
  -fx-background-color: #4087fd;
}

.home-login-btn{
  -fx-background-color: #4087fd;
  -fx-text-fill: #fff;
  -fx-pref-width: 300px;
  -fx-pref-height: 50px;
} 
  
.home-login-btn:hover{
  -fx-background-color: transparent;
  -fx-text-fill:#4087fd;
  -fx-border-color:#4087fd;
  -fx-border-whidth:1px;
  -fx-border-style:solid;
}

.btn-user-register {
  /* -fx-background-color: none;
  -fx-border-color: none; */
  -fx-font-size: 14px;
  -fx-text-fill:#4087fd;
  -fx-cursor: hand;
}

.btn-forgot-password {
  -fx-background-color: none;
  -fx-border-color: none;
  -fx-font-size: 14px;
  -fx-text-fill:#a3a3a3;
  -fx-cursor: hand;
}