/* .menu-container {
  -fx-background-color: #181f48;
}

.btn-menu {
  -fx-cursor: hand;
}

.options-container {
  -fx-border-color: #181f48 #181f48 #fff #181f48;
}

.menu-label {
  -fx-text-fill: #fff;
  -fx-font-size: 16px;
} */