.menu-options{
    -fx-background-color:   #fafafa;
}
.menu-options:hover{
    -fx-background-color: c4c4c4;
    -fx-border-color: #0078D7;
    -fx-border-width: 0px 0px 0px 3px;
    -fx-border-style: solid;
}