.user-register {
  -fx-background-color: #4087fd;
}

.user-register-container {
  -fx-background-color: #4087fd;
}

.user-register-container-form {
  -fx-background-color: #fff;
  -fx-min-width: 400;
}

.user-register-field {
  -fx-pref-width: 200px;
  -fx-pref-height: 28px;
  -fx-font-size: 14px;
}

.user-register-field-date-birth {
  -fx-pref-width: 370px;
  -fx-pref-height: 28px;
  -fx-font-size: 14px;
}

.user-register-gender-img {
  -fx-pref-width: 38px;
  -fx-pref-height: 38px;
}

.user-register-btn {
  -fx-pref-width: 90px;
  -fx-pref-height: 40px;
  -fx-cursor: hand;
  -fx-font-size: 14px;
  -fx-background-radius:50px;
   -fx-border-radius:50px;
}

.user-register-btn-next {
  -fx-background-color: #4087fd;
  -fx-text-fill: #fff;
}

.user-register-btn-next:hover {
	
	-fx-background-color: transparent;
  -fx-text-fill:#4087fd;
  -fx-border-color:#4087fd;
  -fx-border-whidth:1px;
  -fx-border-style:solid;
  -fx-background-radius:50px;
   -fx-border-radius:50px;
	
}

.user-register-btn-cancel {
  -fx-background-color: #9e9e9e;
  -fx-text-fill: #fff;
}

.user-register-btn-cancel:hover {
 -fx-background-color: transparent;
  -fx-text-fill:#9e9e9e;
  -fx-border-color:#9e9e9e;
  -fx-border-whidth:1px;
  -fx-border-style:solid;
  -fx-background-radius:50px;
   -fx-border-radius:50px;
	
}

.user-register-field-address {
  -fx-pref-width: 210px;
  -fx-pref-height: 28px;
  -fx-font-size: 14px;
}

.modal-warning-container {
  -fx-background-color: #fff;
  -fx-background-radius: 15px 15px 0px 0px;
  -fx-border-color: #fff;
  -fx-border-radius: 15px 15px 0px 0px;
}

.text-info-modal-warning {
  -fx-font-size: 14px;
  -fx-text-fill: #6c6761;
}

.btn-confirm-warning-modal {
  -fx-background-color: #ff4d4f;
  -fx-text-fill: #fff;
  -fx-cursor: hand;
}