<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
	<Appenders>
		<Console name="Console" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%date{yyyy-MM-dd/HH:mm:ss.SSS/zzz} %level %c - %m %n" />
		</Console>
		<JDBC name="MySQLDatabase" tableName="APP_LOGS">
			<ConnectionFactory
				class="br.com.senac.school.dao.ConnectionFactory"
				method="getConnection" />
			<Column name="LOG_ID" pattern="%u" />
			<Column name="ENTRY_DATE" isEventTimestamp="true" />
			<Column name="LOGGER" pattern="%logger" />
			<Column name="LOG_LEVEL" pattern="%level" />
			<Column name="MESSAGE" pattern="%m" />
			<Column name="EXCEPTION" pattern="%throwable " />
		</JDBC>
	</Appenders>

	<Loggers>
		<Logger name="br.com.log4j2" level="debug"
			additivity="false">
			<AppenderRef ref="MySQLDatabase" />
		</Logger>

		<Root level="trace">
			<AppenderRef ref="MySQLDatabase" />
		</Root>
	</Loggers>

</Configuration>